:root {
    font-size: 3vh;
    --primary-color: rgb(76, 52, 255);
    --primary-hover-color: rgb(97, 76, 255);
    --border-color: rgb(199, 199, 199);
    /* 7px */
    --border-radius: 0.3rem;
    --background-color: rgb(248, 248, 248);
    --panel-color: white;
    --bg-input: rgb(233, 230, 255);

    --text-1: rgb(0, 0, 0);
    --text-2: rgb(20, 20, 20);
    --text-3: rgb(40, 40, 40);
    --text-4: rgb(60, 60, 60);
    --text-5: rgb(80, 80, 80);
    --text-6: rgb(100, 100, 100);

    --primary-1: rgb(48, 20, 255);
    --primary-2: rgb(62, 36, 255);
    --primary-3: rgb(76, 52, 255);
    --primary-4: rgb(93, 71, 255);
    --primary-5: rgb(105, 86, 255);
    --primary-6: rgb(116, 97, 255);
    --primary-7: rgb(184, 176, 255);
    --primary-8: rgb(206, 198, 255);
    --primary-9: rgb(242, 240, 255);
    --primary-10: rgb(250, 250, 255);

    --white-1: white;
    --white-2: rgb(235, 235, 235);
    --white-3: rgb(215, 215, 215);
    --white-4: rgb(195, 195, 195);
    --white-5: rgb(175, 175, 175);

    --gray-1: rgb(75, 75, 75);
    --gray-2: rgb(95, 95, 95);
    --gray-3: rgb(115, 115, 115);
    --gray-4: rgb(135, 135, 135);
    --gray-5: rgb(155, 155, 155);

    --black-1: rgb(0, 0, 0);
    --black-2: rgb(20, 20, 20);
    --black-3: rgb(40, 40, 40);
    --black-4: rgb(60, 60, 60);
    --black-5: rgb(80, 80, 80);

    --cold-white-1: rgb(250, 250, 255);
    --cold-white-2: rgb(246, 246, 250);
    --cold-white-3: rgb(228, 228, 240);
    --cold-white-4: rgb(220, 220, 235);
    --cold-white-5: rgb(210, 210, 225);
    --cold-white-6: rgb(200, 200, 215);
    --cold-white-7: rgb(200, 200, 215);

    --cold-gray-1: rgb(55, 65, 75);
    --cold-gray-2: rgb(75, 85, 95);
    --cold-gray-3: rgb(95, 105, 115);
    --cold-gray-4: rgb(115, 125, 135);
    --cold-gray-5: rgb(135, 145, 155);

    --focus-ring-shadow: 0 0 0 4px rgba(99, 102, 241, 0.15);
    --transition: all 0.2s ease-in-out;
    background-color: var(--background-color);
    font-family: 'Inter', system-ui, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--panel-color);
    margin: auto;
    gap: 20px;
    margin-bottom: 100px;
    padding: 1rem 2rem;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.container>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}