:root {
    font-size: 3vh;
    --primary-color: rgb(76, 52, 255);
    --primary-hover-color: rgb(97, 76, 255);
    --border-color: rgb(199, 199, 199);
    /* 7px */
    --border-radius: 0.3rem;
    --background-color: rgb(248, 248, 248);
    --panel-color: white;
    --bg-input: rgb(233, 230, 255);

    --text-1: rgb(0, 0, 0);
    --text-2: rgb(20, 20, 20);
    --text-3: rgb(40, 40, 40);
    --text-4: rgb(60, 60, 60);
    --text-5: rgb(80, 80, 80);
    --text-6: rgb(100, 100, 100);

    --primary-1: rgb(48, 20, 255);
    --primary-2: rgb(62, 36, 255);
    --primary-3: rgb(76, 52, 255);
    --primary-4: rgb(93, 71, 255);
    --primary-5: rgb(105, 86, 255);
    --primary-6: rgb(116, 97, 255);
    --primary-7: rgb(184, 176, 255);
    --primary-8: rgb(206, 198, 255);
    --primary-9: rgb(242, 240, 255);
    --primary-10: rgb(250, 250, 255);

    --white-1: white;
    --white-2: rgb(235, 235, 235);
    --white-3: rgb(215, 215, 215);
    --white-4: rgb(195, 195, 195);
    --white-5: rgb(175, 175, 175);

    --gray-1: rgb(75, 75, 75);
    --gray-2: rgb(95, 95, 95);
    --gray-3: rgb(115, 115, 115);
    --gray-4: rgb(135, 135, 135);
    --gray-5: rgb(155, 155, 155);

    --black-1: rgb(0, 0, 0);
    --black-2: rgb(20, 20, 20);
    --black-3: rgb(40, 40, 40);
    --black-4: rgb(60, 60, 60);
    --black-5: rgb(80, 80, 80);

    --cold-white-1: rgb(250, 250, 255);
    --cold-white-2: rgb(246, 246, 250);
    --cold-white-3: rgb(228, 228, 240);
    --cold-white-4: rgb(220, 220, 235);
    --cold-white-5: rgb(210, 210, 225);
    --cold-white-6: rgb(200, 200, 215);
    --cold-white-7: rgb(200, 200, 215);

    --cold-gray-1: rgb(55, 65, 75);
    --cold-gray-2: rgb(75, 85, 95);
    --cold-gray-3: rgb(95, 105, 115);
    --cold-gray-4: rgb(115, 125, 135);
    --cold-gray-5: rgb(135, 145, 155);

    --focus-ring-shadow: 0 0 0 4px rgba(99, 102, 241, 0.15);
    --transition: all 0.2s ease-in-out;
    background-color: var(--background-color);
    font-family: 'Inter', system-ui, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--panel-color);
    margin: auto;
    gap: 20px;
    margin-bottom: 100px;
    padding: 1rem 2rem;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.button {
    border: 1px solid var(--cold-white-3);
    padding: 0.5rem 0.7rem;
    border-radius: var(--border-radius);
    background-color: var(--white-1);
    cursor: pointer;
    font-size: 1rem;
}

.buttonPrimary {
    background-color: var(--primary-color);
    color: white
}

.button:hover {
    background-color: rgb(250, 250, 250);
}

.buttonPrimary:hover {
    background-color: var(--primary-hover-color);
}



.container>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.floatingGroup {
    position: relative;
}

.floatingGroupLabel {
    position: absolute;
    top: 0.7rem;
    left: 0.8rem;
    color: var(--text-6);
    font-size: 0.88rem;
    pointer-events: none;
    transform-origin: left top;
    transition: var(--transition);
}

.floatingGroupInput {
    width: 100%;
    background-color: var(--primary-10);
    border: 0.05rem solid var(--primary-8);
    min-height: 3rem;
    border-radius: var(--border-radius);
    padding: 1.5rem 0.8rem 1rem 0.8rem;
    box-sizing: border-box;
    font-size: 0.88rem;
    outline: none;
    transition: var(--transition);
    caret-color: var(--primary-5);
}


.floatingGroupInput:focus {
    border-color: var(--primary-3);
    box-shadow: var(--focus-ring-shadow);
}


.floatingGroupInput:focus~.floatingGroupLabel,
.floatingGroupInput:not(:placeholder-shown)~.floatingGroupLabel {
    transform: translateY(-0.5rem) scale(0.75);
    color: var(--primary-4);
    font-weight: 600;
}

.selectBox {
    padding: 1.1rem 0.8rem 0.5rem 0.8rem;
    min-height: 2.5rem;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%2364748b' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.25rem;
}

.selectBox:required:invalid~.floatingGroupLabel {
    transform: none;
    color: var(--text-5);
    font-weight: 500;
}

.selectBox:required:valid~.floatingGroupLabel {
    color: var(--primary-4);
}

.hiddenInput {
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;
    border: none;
}

.radioItem {
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
}




.radioItem:hover {
    background-color: var(--cold-white-2);
}

.customRadio {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    border: 0.09rem solid var(--cold-white-5);
    position: relative;
    transition: var(--transition);
}

.customRadio::after {
    content: "";
    inset: 0.11rem;
    position: absolute;
    background-color: var(--primary-5);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 200ms;
}

.hiddenInput:checked+.customRadio {
    border-color: var(--primary-5);
}

.hiddenInput:checked+.customRadio::after {
    transform: scale(1);
}


/* Checkbox */
.checkboxItem {
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
}

.checkboxItem:hover {
    background-color: var(--cold-white-2);
}

.customCheckbox {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: var(--border-radius);
    border: 0.09rem solid var(--cold-white-5);
    transition: var(--transition);
    display: grid;
    place-content: center;
    line-height: 0;
}

.customCheckbox::after {
    content: "✓";
    color: white;
    transform: scale(0);
    transition: transform 200ms;
}

.hiddenInput:checked+.customCheckbox {
    border-color: var(--primary-5);
    background-color: var(--primary-5);
}

.hiddenInput:checked+.customCheckbox::after {
    transform: scale(1);
}

/* Switch Item */
.switchItem {
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
}

.switchItem:hover {
    background-color: var(--cold-white-2);
}

.customSwitch {
    width: 1.9rem;
    height: 1rem;
    border-radius: 50%;
    transition: var(--transition);
    background-color: var(--cold-white-5);
    border-radius: 1rem;
    position: relative;
    border: 0.1rem solid var(--cold-white-5);

}

.customSwitch::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: var(--transition);
    background-color: white;
    right: 0.9rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hiddenInput:checked+.customSwitch {
    border-color: var(--primary-5);
    background-color: var(--primary-5);

}

.hiddenInput:checked+.customSwitch::after {
    right: 0;
}

.colorSelectorItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
}

.colorSelectorItem:hover {
    background-color: var(--cold-white-2);
}

.customColorbox {
    width: 1.5rem;
    height: 1.5rem;
    background-color: aqua;
    border-radius: 0.15rem;
    border: 0.1rem solid var(--primary-6);
}



.progressbar {
    width: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.progressbar::-webkit-progress-bar {
    background-color: var(--cold-white-2);
    border-radius: var(--border-radius);
}

.progressbar::-webkit-progress-value {
    background-color: var(--primary-6);
    border-radius: var(--border-radius);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.progressbar.full::-webkit-progress-value {
    border-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.rangeInput {
    --range-progress: 50%;
    appearance: none;
    cursor: pointer;
    background: transparent;
    width: 100%;
}

.rangeInput::-webkit-slider-runnable-track {
    background-color: var(--cold-white-3);
    border-radius: var(--border-radius);
    height: 0.5rem;
    background: linear-gradient(to right,
            var(--primary-6) 0%,
            var(--primary-6) var(--range-progress),
            var(--cold-white-3) var(--range-progress),
            var(--cold-white-3) 100%);
}

.rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--primary-4);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: -0.25rem;
    transition: all 100ms;
}

.rangeInput::-webkit-slider-thumb:hover {
    height: 1.1rem;
    width: 1.1rem;
    margin-top: -0.3rem;
}

.rangeInputContainer {
    display: flex;
    flex-direction: column;
}

.rangeInputInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.rangeInputInfo p {
    margin: 0;
}

.rangeInputInfo .amountText {
    color: var(--primary-4);
    font-weight: bold;
    font-size: 0.8rem;
}

.rangeInputInfo .label {
    color: var(--text-6);
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}